@using Sitecore.Mvc
@using Banner.Project.Common.Areas.Cards.Models;
@using Banner.Foundation.SitecoreExtensions;
@model Tuple<TextCard, CommonRenderingParameters, TextStyleRenderingParameters>
@if (Model == null && Model.Item1 == null && Model.Item2 == null && Model.Item3 == null)
{
    return;
}

<div uatid="@FieldExtensions.UATID" class="text-card-accordion @Model.Item2.BackgroundClass pt-5 pb-5 background-pattern-dotted-top" data-js="animate-background">
    <div class="content-container">
        <div class="row">
            <div class="col-md-6 order-first" align="left">
                @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.BodyCopy))
                {
                    @Html.Raw(Model.Item1.BodyCopy)
                }
                @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.SecondaryContent))
                {
                    @Html.Raw(Model.Item1.SecondaryContent)
                }
                @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.ImageURL))
                {
                    <div class="find-section-icon d-none d-md-block">
                        @Model.Item1.ImageURL
                    </div>
                }
            </div>
            <div class="col-md-6 order-last">
                @Html.Sitecore().DynamicPlaceholder("TextCard-Column-Right")
                @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.ImageURL))
                {
                    <div class="find-section-icon d-md-none text-center text-sm-right mt-5">
                        @Model.Item1.ImageURL
                    </div>
                }
            </div>
        </div>
    </div>
</div>

