@using Banner.Feature.Location.Models
@using Sitecore.Mvc
@using Newtonsoft.Json
@using Banner.Foundation.Dictionary.Extensions
@using Banner.Feature.Location
@using Banner.Foundation.SitecoreExtensions

@model EmergencyCareLocation
@{
	if (Model == null)
	{
		return;
	}
}
<div uatid="@FieldExtensions.UATID" class="container-fluid p-0 location">
	<div class="row no-gutters">
		<div class="col-12 col-md-6 display-flex-medium @(Model.ImageJustification == Banner.Feature.Location.Constant.Justification.Right ? "order-first" : string.Empty)">
			<div class="row no-gutters hidden-medium d-block d-md-none">
				<div class="col-12">
					@Html.Sitecore().Field(Template.ImageOnly.Media.ImageFileFieldName, Model.ContextItem, new { @class = "image", @width = "478", @height = "318" })
				</div>
			</div>
			<div class="row no-gutters justify-content-center">
				<div class="col-12 col-md-10 col-xl-9">
					<div class="card-location-wrapper">

						<div class="bg-primary d-md-none d-flex">
							@if (!string.IsNullOrEmpty(Model.Distance))
							{
								<p class="card-location-text">
									@Model.Distance &nbsp;
									@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Miles Away", "miles away")))
								</p>
							}
						</div>
						<div class="pl-3 pr-3 pt-4 pb-5 pl-md-0 pr-md-0">
							@if (!MvcHtmlString.IsNullOrEmpty(Model.LocationName))
							{
								<h3 class="content-title">@Model.LocationName</h3>
							}
							<div class="d-flex">
								<div class="col-md-7 pl-0">
									<address class="card-location-address">
										@Model.Address1
										<br />
										@Model.Address2
										<br />
										@Model.City &#44;&nbsp; @Model.State &nbsp; @Model.ZipCode

									</address>

									@if (!string.IsNullOrEmpty(Model.Distance))
									{
										<p class="card-location-distance d-none d-md-block">
											@Model.Distance &nbsp;
											@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Miles Away", "miles away"))
										</p>
									}
									@if (!MvcHtmlString.IsNullOrEmpty(Model.MainPhoneNumber))
									{
										<p class="d-block d-md-none">@Model.MainPhoneNumber</p>
									}

								</div>
								<div class="col-md-5 pl-0 d-none d-md-block">
									<div class="content-item d-flex">
										<div class="icon-svg">
											<img src="/static/assets/toolkit-redesign/images/icon-directions.svg">
										</div>

										@if (!string.IsNullOrEmpty(Model.DirectionUrl))
										{

											<a class="d-none d-md-block card-location-link" href="@Model.DirectionUrl">
												@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Directions", "Get Directions"))
											</a>

										}
									</div>
									@if (!MvcHtmlString.IsNullOrEmpty(Model.MainPhoneNumber))
									{
										<div class="content-item d-flex mt-3">
											<div class="icon-svg">
												<img src="/static/assets/toolkit-redesign/images/icon-phone.svg">
											</div>
											<a href="#" class="d-none d-md-block card-location-link">@Model.MainPhoneNumber</a>

										</div>
									}
								</div>
							</div>
							<div class="card-location-content mt-3 d-none d-md-block">
								<div class="icon-svg mr-3">
									<img src="/static/assets/toolkit-redesign/images/icon-convienent-hours.svg">
								</div>@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Emergency Room Hours", "All emergency rooms are open 24/7."))
							</div>


							@if (!MvcHtmlString.IsNullOrEmpty(Model.ClockWiseID))
							{
								<div class="mt-4">
									<a target="_blank" href="@Model.ClockWiseMDBaseUrl" class="btn btn-primary">@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/ClockwiseEmergencyCareButtonText", "Check Me In"))</a>
								</div>
							}
						</div>
						<div class="card-location-footer d-md-none border-bottom">
							@if (!MvcHtmlString.IsNullOrEmpty(Model.MainPhoneNumber))
							{
								<div class="card-location-button">
									<div class="icon-svg fill- card-location-button-icon">
										<img src="/static/assets/toolkit-redesign/images/icon-phone.svg">
									</div>
									<a class="d-md-none card-location-link" href="tel:@Model.MainPhoneNumber">
										@Html.Sitecore().Dictionary("/Features/Location/Phone", "Phone")
									</a>
								</div>
							}
							<div class="card-location-button">
								<div class="icon-svg fill-gray card-location-button-icon">
									<img src="/static/assets/toolkit-redesign/images/icon-convienent-hours.svg">
								</div>
								@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Open 24", "Open 24/7"))
							</div>
							@if (!string.IsNullOrEmpty(Model.DirectionUrl))
							{
								<div class="card-location-button">
									<div class="icon-svg fill- card-location-button-icon">
										<img src="/static/assets/toolkit-redesign/images/icon-directions.svg">
									</div>
									<a href="@Model.DirectionUrl" class="d-md-none card-location-link">@Html.Sitecore().Dictionary("/Features/Location/Get Directions", "Get Directions")</a>
								</div>
							}
						</div>



					</div>
				</div>
			</div>
			<div class="row no-gutters auto-margin-top hidden-small-only">
				<div class="col-12">
					<div class="toast bg-secondary" data-toggle="modal" data-target="#ecModal">
						<p class="toast-text">
							@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Emergency Alert Text", "Not life-threatening? Try Urgent Care"))
							@Html.Sitecore().Placeholder("TryUrgentCarePlaceHolder")
							<span class="toast-icon"><i class="fal fa-angle-right"></i></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6 display-flex hidden-small-only @(Model.ImageJustification == Banner.Feature.Location.Constant.Justification.Left ? "order-first" : string.Empty)">
			@Html.Sitecore().Field(Template.ImageOnly.Media.ImageFileFieldName, Model.ContextItem, new { @class = "image", @width = "478", @height = "318" })
		</div>
	</div>
</div>