@using Banner.Feature.Location.Models
@model HospitalLocations
@using Banner.Foundation.Dictionary.Extensions;
@using Banner.Foundation.SitecoreExtensions;
@using Sitecore.Mvc;

@if (Model.HospitalLocationsList == null || Model.HospitalLocationsList.Count == 0)
{
	return;
}

@{
	string HtmlTag = Model.AccordionListRenderingParams.HtmlTag;
	string backgroundclass = Model.AccordionListRenderingParams.Skin.ToLower();
}

<div uatid="@FieldExtensions.UATID" class="@Model.AccordionListRenderingParams.ContainerClass @Model.AccordionListRenderingParams.Padding">
	<div>
		@if (!MvcHtmlString.IsNullOrEmpty(Model.GeoContentHeader))
		{
			@Model.GeoContentHeader

		}
	</div>
	<div class="accordion @backgroundclass " id="accordionID">

		@{
			int count = 0;

			foreach (var hospital in Model.HospitalLocationsList)
			{
				count++;
				string collapseID = "collapse" + count;
				string headingID = "heading" + count;
				string areaExpanded = "false";
				string collapseClass = "collapsed";
				string collapseShow = "";
				if (Model.AccordionListRenderingParams.AreaExpanded.ToLower().Equals("true") && count == 1)
				{
					areaExpanded = Model.AccordionListRenderingParams.AreaExpanded.ToLower();
					collapseClass = "";
					collapseShow = "show";
				}
				string MilesAway = Html.Sitecore().Dictionary("/Features/Location/Miles Away", "miles away");
				string DistanceFrom = Html.Sitecore().Dictionary("/Features/Location/Distance From", "Distance from");
				string ViewLocation = Html.Sitecore().Dictionary("/Features/Location/View Location", "View Location");
				<div class="card rounded-0 border-0">
					<div class="card-header border-0 p-0" id="@headingID">
						<a class="accordion-header component-accordion-trigger @collapseClass pl-0" data-toggle="collapse" data-target="#@collapseID" aria-expanded="@areaExpanded" aria-controls="@collapseID">
							<span class="accordion-text">@hospital.Name</span>
							<span class="accordion-icon" aria-label="accordion icon"></span>
						</a>
					</div>
					<div id="@collapseID" class="collapse @collapseShow" aria-labelledby="@headingID" data-parent="#accordionID">
						<div class="card-body pl-0">
							<div>

								<span>@hospital.Address1 <br>@hospital.City, @hospital.State @hospital.ZipCode</span>

								<p>@DistanceFrom: @hospital.Distance @MilesAway</p>

							</div>

							<div class="pb-3"><a class="accordion-link text-secondary" href="@hospital.ItemUrl">@ViewLocation</a></div>
							@Html.Raw(hospital.GeoContent.GeoSpecificContent)
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>

