@model Banner.Feature.Social.Email.Models.EmailShellCard
@using Banner.Foundation.SitecoreExtensions
@using Banner.Foundation.Dictionary.Extensions
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation

@{ 
	if (Model == null)
	{
		return;
	}
	var dataError = Html.Sitecore().Dictionary("/Features/Social/Email/Validation Messages/Error", "Enter email to sign up");
	var dataSuccess = Html.Sitecore().Dictionary("/Features/Social/Email/Validation Messages/Success", "Success");
	var placeholder = Html.Sitecore().Dictionary("/Features/Social/Email/Placeholder/Email Subscription Placeholder Text", "Enter email to sign up");
	var joinButton = Html.Sitecore().Dictionary("/Features/Social/Email/Placeholder/Button Title", "JOIN");
}

<!-- Padding classes are optional and other classes should be added here-->
<div uatid="@FieldExtensions.UATID" class="icon-shell-card @Model.BackgroundClass" align="center">
	<div class="container">
		<div class="row">
			<div class="col-md-6 ">
				<div class="text-header">
					<h4 class="icon-shell-card-title d-none d-md-block">@Model.Title</h4>
					<span>@Model.Description</span>
				</div>
				<div class="icon-shell-card-link d-none">
					<a href="@Model.LinkURL" target="_blank"><br>@Model.LinkText</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-wrapper">
					<form data-js="validate-form-ajax" data-url="/api/sitecore/EmailShellCard/ToEmailSignUp" data-method="post" data-validate-button="#validate-button" data-placement="bottom" data-icon="fal fa-exclamation-triangle" data-hide-messages="focus" novalidate>
						<div class="input-group input-group-lg">
							@* In Experience Editor, placeholder is breaking. To resolve this, a default value will be shown *@
							@if (!Sitecore.Context.PageMode.IsExperienceEditor)
							{
								<input type="email" value="" name="email" class="form-control email-input" data-error="@dataError" data-success="@dataSuccess"  placeholder="@placeholder" aria-label="Enter email to sign up" required>
							}
							else
							{
								<input type="email" name="email" class="form-control" placeholder="Enter email to sign up" pattern="@Model.EmailRegularExpression">
							}
							<input name="ListId" id="ListId" value="@Model.ListId" hidden="hidden">
							<div class="input-group-append">
								<button class="btn addon-input" type="submit" id="validate-button" value="Enter" style="height:auto !important;">
									@joinButton
								</button>
							</div>
						</div>
					</form>					
				</div>
			</div>
		</div>
	</div>
</div>
