@using Banner.Project.Common.Areas.Cards.Models;
@model Tuple<FeaturedItemCard<Center>, CommonRenderingParameters, TextStyleRenderingParameters>
@using Sitecore.Mvc;
@using Banner.Foundation.Dictionary.Extensions;
@using Banner.Foundation.SitecoreExtensions;
@if (Model == null || Model.Item1 == null || Model.Item2 == null || Model.Item3 == null)
{
    return;
}
<div uatid="@FieldExtensions.UATID" class="@Model.Item2.Padding @Model.Item2.BackgroundClass">
    <div class="@Model.Item2.ContainerClass">
        <div class="row">
            <div class="col-md-3 d-flex justify-content-center" align=@Model.Item3.TextAlignment>
                @if (!MvcHtmlString.IsNullOrEmpty(@Model.Item1.Title))
                {
                    <div class="heading h2">
                        @Model.Item1.Title
                    </div>
                }
            </div>
            <div class="col-md-9 d-flex m-auto">
                @if (Model.Item1.FeaturedCard != null && Model.Item1.FeaturedCard.Count > 0)
                {
                    foreach (var Card in Model.Item1.FeaturedCard)
                    {

                        <div class="col-md-6">
                            <div class="card text-card-circle-icon border-0 heavy" align=@Model.Item2.CardJustification>
                                <div class="card-item mb-lg-0 @Model.Item2.BackgroundClass">
                                    <div class="card-body p-0">
                                        @*In experience editor because of Editable Title Value, it breaks in experience editor*@
                                        @if (Sitecore.Context.PageMode.IsExperienceEditor)
                                        {
                                            <a class="card-title p-0 mb-2" href="#">@Card.Title</a>
                                        }
                                        else
                                        {
                                            <a class="card-title p-0 mb-2" href="@Card.Title">@Card.Title</a>
                                        }

                                        <div class="card-text ">
                                            @Html.Raw(Card.ShortDescription)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


