@using Sitecore.Mvc;
@using Banner.Project.Common.Areas.Cards.Models;
@using Banner.Foundation.SitecoreExtensions;
@using Banner.Foundation.Dictionary.Extensions;
@model ListCard

@if (Model == null)
{
    return;
}

<div uatid="@FieldExtensions.UATID" id="gcnModal" class="gcn-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="gcnModal" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- Close Button -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-times"></i>
            </button>

            <div class="modal-body p-0">
                <!-- Heading -->
                @if (!MvcHtmlString.IsNullOrEmpty(Model.Title))
                {
                    <h3 class="section-title text-center">
                        @Model.Title
                    </h3>
                }
                <!-- Cards -->
                <!-- use class 'slide-up' to enable slide animation on cards -->
                @if (Model.List != null)
                {
                    <div class="card-deck slide-up">
                        @foreach (var textCard in Model.List)
                        {
                            if (textCard != null)
                            {
                                <div class="card alert-card-top-image">
                                    <a class="immediate-care__card-link" rel="noopener noreferrer" href="#">
                                        <div class="immediate-care__card-image">
                                            @Html.Sitecore().Field(Banner.Project.Common.Areas.Cards.Template.ImageOnly.Fields.ImageOnly, textCard.RenderingContextItem)

                                        </div>
                                        <div class="immediate-care__card-content">
                                            <h3 class="immediate-care__card-content-title">
                                                @textCard.Title
                                            </h3>
                                            <p class="immediate-care__card-content-text">
                                                @Html.Raw(textCard.BodyCopy)
                                            </p>
                                        </div>
                                        <div class="immediate-care__card-actions">
                                            <img src="/static/assets/toolkit-redesign/images/chevron-right.svg" />
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                }
                <!-- Link -->
                @if (!MvcHtmlString.IsNullOrEmpty(Model.LinkText))
                {
                    <p class="section-paragraph text-center">
                        @if (!MvcHtmlString.IsNullOrEmpty(Model.Link))
                        {
                            @Html.Sitecore().Field(Banner.Project.Common.Areas.Cards.Template.Link.Fields.LinkURLFieldName, Model.RenderingContextItem, new { text = @Model.LinkText, @class= "modal-link" })
                        }
                        else
                        {
                            <a class="modal-link" href="#">@Model.LinkText</a>
                        }

                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="affixed" data-js="btn-scrolling-affixed">
    <a href="#" class="affixed-mobile" data-toggle="modal" data-target="#gcnModal">
        @Html.Raw(Html.Sitecore().Dictionary("/GetCareNow/Get Care Now", "Get Care Now"))
    </a>
</div>