@using Banner.Feature.Persona.Models;
@using System.Collections.Generic;
@using Banner.Foundation.SitecoreExtensions;

@model PersonaModel

@{
	if (Model == null)
	{
		return;
	}
	string credentialedSpecialty = "";

	<div class="content-container">
		<div class="mb-5 text-center">
			<div class="heading h1">
				@Model.Title
			</div>
			<p class="sub-heading">@Html.Raw(Model.BodyCopy)</p>
		</div>
		<div class="row">

			@foreach (var physician in Model.physicianList)
			{
				if (physician.KyruusPhysicianData.CredentialedSpecialty != null && physician.KyruusPhysicianData.CredentialedSpecialty.Count > 0)
				{
					credentialedSpecialty = string.Join("|", physician.KyruusPhysicianData.CredentialedSpecialty);
					credentialedSpecialty = credentialedSpecialty.Replace("|", ", ");
				}
				<div class="col-md-4">

					<div uatid="@FieldExtensions.UATID" class="gray persona-card text-center mx-auto item ">
						@if (physician.KyruusPhysicianData.ImageUrl != string.Empty)
						{
							<img class="persona-card-image rounded-circle" src="@physician.KyruusPhysicianData.ImageUrl" alt="">
						}
						@if (physician.KyruusPhysicianData.ApprovedName != string.Empty)
						{
							<h3 class="h3 persona-card-title pt-4 mb-0">
								@physician.KyruusPhysicianData.ApprovedName
							</h3>
						}
						@if (credentialedSpecialty != string.Empty)
						{
							<h2 class="h2 persona-card-subtitle mb-0">
								@credentialedSpecialty
							</h2>
						}
						@if (physician.KyruusPhysicianData.providerType != string.Empty && physician.LocationData.Name != string.Empty)
						{
							<div class="persona-card-content pb-2 pl-3 pr-3">
								@physician.KyruusPhysicianData.providerType, @physician.LocationData.Name
							</div>
						}
						@if (physician.KyruusPhysicianData.ApproachToCare != string.Empty)
						{
							<div class="persona-card-text pl-3 pr-3">
								@physician.KyruusPhysicianData.ApproachToCare
							</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
}
