@using Banner.Feature.Persona.Models
@using Banner.Foundation.SitecoreExtensions;
@model ProfileCardsModel

@{
	if (Model == null)
	{
		return;
	}
	var ImgCircle = "";
	if (!Model.IsSquareImage)
	{
		ImgCircle = "img-circle rounded-circle";  // ".rounded-circle" class works for bootstrap 4.
	}
}
<div class="typography">
	@foreach (var ProfileCard in Model.ProfileCards)
	{
		<h2>@ProfileCard.Title</h2>
		<hr>
		foreach (var ProfileDetails in ProfileCard.ProfileDetails)
		{

			<div class="row bottom-padder profile-pics bg-light-gray">
				<div class="col-md-12">
					<div uatid="@FieldExtensions.UATID" class="thumbnail thumbnail-circle">
						<img class="@ImgCircle" src="@ProfileDetails.ProfileImage" alt="">
						<div class="caption">
							@if (!string.IsNullOrEmpty(ProfileDetails.ShortDescription))
							{
								<h4 class="main-title"><a class="profile-page-link" href="@ProfileDetails.ProfilePageUrl">@ProfileDetails.Name</a></h4>
							}
							else
							{
								<h4 class="main-title">@ProfileDetails.Name</h4>
							}
							<h4 class="black-title">@ProfileDetails.JobTitle<br>@ProfileDetails.CompanyName</h4>

							<p class="short-description">@Html.Raw(ProfileDetails.ShortDescription)</p>
						</div>

					</div>
				</div>

			</div>
		}

	}
</div>
