@using Banner.Project.Common.Areas.Cards.Models;
@using Sitecore.Data;
@using Banner.Foundation.SitecoreExtensions;
@using Sitecore.Mvc;
@model Tuple<List<Region>, CommonRenderingParameters>


<div uatid="@FieldExtensions.UATID" class="text-card @Model.Item2.ContainerClass @Model.Item2.Padding">

	<div class="row text-center">

		@foreach (Region item in Model.Item1)
		{
			if (item != null && !MvcHtmlString.IsNullOrEmpty(item.ImageURL))
			{

				<div class="pr-col">

					<a class="card-image" href="#">

						<div class="card-image-content">
							@if (!MvcHtmlString.IsNullOrEmpty(item.LinkText))
							{

								<div class="h4 card-image-title">@item.LinkText</div>
							}

						</div>

						@item.ImageURL

					</a>

				</div>
			}
		}

	</div>

</div>
