@using Sitecore.Mvc;
@using Sitecore.Mvc.Presentation;
@using Banner.Foundation.SitecoreExtensions;
@using Banner.Project.Common.Areas.Cards.Models;
@model Tuple<TextCard, CommonRenderingParameters, TextStyleRenderingParameters>
@if (Model == null || Model.Item1 == null || Model.Item2 == null || Model.Item3 == null)
{
    return;
}



<div uatid="@FieldExtensions.UATID" class="text-card card border-0 @Model.Item2.BackgroundClass @Model.Item2.Padding" data-js="" align="@Model.Item3.TextAlignment">
    <div class="card-body p-0">

        @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.Title))
        {
            <div class="h1">
                @Model.Item1.Title
            </div>
        }
        @if (!MvcHtmlString.IsNullOrEmpty(Model.Item1.BodyCopy))
        {
            <div class="card-text">
                @Html.Raw(Model.Item1.BodyCopy)
            </div>
        }
    </div>
</div>
