@using Sitecore.Mvc
@using Banner.Project.Common.Areas.Cards.Models
@using Banner.Foundation.Dictionary.Extensions
@using Banner.Foundation.SitecoreExtensions
@model Tuple<ShellCard, List<Banner.Project.Common.Areas.Cards.Models.Region>, CommonRenderingParameters>

@if (Model != null)
{

    <div uatid="@FieldExtensions.UATID" class="shell-card top-arrow @Model.Item3.BackgroundClass @Model.Item3.Padding">
        <div class="container">
            @*TODO - URL Should be dynamic *@
            <form class="form-row" method="get" action="https://urgentcare.bannerhealth.com/?">
                <div class="col-12 mb-5 center-content">
                    <h2 class="shell-card-title">
                        <b>@Model.Item1.Title</b>
                    </h2>
                </div>
                <div class="form-group col-12 mb-5 col-lg-8">

                    @* In Experience Editor, placeholder is breaking to resolve this: default value will be shown in expereience editor *@
                    @if (Sitecore.Context.PageMode.IsExperienceEditor)
                    {
                        <input type="text" class="form-control dropdown-toggle typeahead-input shell-card-input" data-toggle="dropdown" placeholder="Enter city, state, or zipcode" />
                    }
                    else
                    {
                        <input name="searchString" value="" type="text" class="form-control dropdown-toggle typeahead-input shell-card-input" data-js="input-text-google-autocomplete" data-toggle="dropdown" placeholder="@Html.Raw(Html.Sitecore().Dictionary("/Features/Location/Placeholder/Enter City State Zip", "Enter city, state, or zipcode"))" />
                    }

                    <ul class="dropdown-menu typeahead-dropdown">
                        <li>@Html.Raw(@Html.Sitecore().Dictionary("/Features/Location/Region", "Region"))</li>
                        @foreach (Region region in Model.Item2)
                        {
                            if (!MvcHtmlString.IsNullOrEmpty(region.LinkText))
                            {
                                <li>
                                    @Html.Sitecore().Field(Banner.Project.Common.Areas.Cards.Template.Link.Fields.LinkURLFieldName, region.RenderingContextItem, new { text = @Html.Raw(region.LinkText) })
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="form-group col-4 mb-5">
                    <button type="submit" class="btn btn-primary shell-card-btn mb-2">
                        <b><i class="fa fa-search"></i>&nbsp;&nbsp;@Html.Raw(@Html.Sitecore().Dictionary("/Features/Search/Find Button", "Find"))</b>
                    </button>
                </div>
                <div class="col-12 mb-5">
                    <a href="javascript:" class="shell-card-link current-location" data-target="shell-card-input">
                        <b><i class="fa fa-location-arrow"></i>&nbsp;@Html.Raw(@Html.Sitecore().Dictionary("/Features/Location/Use Current Location", "Use Current Location"))</b>
                    </a>
                </div>
                <div class="col-12">
                    <span>
                        @Model.Item1.BodyCopy
                        <b>
                            @Html.Sitecore().Field(Banner.Project.Common.Areas.Cards.Template.Link.Fields.LinkURLFieldName, Model.Item1.BaseContextItem, new { text = @Model.Item1.LinkText, @class = "urgent-care-link" })
                        </b>
                    </span>
                </div>
            </form>
        </div>
    </div>

}
else
{
    return;
}
