@using Banner.Feature.Location.Models;
@using Banner.Feature.Location;
@using Banner.Foundation.Dictionary.Extensions;
@using Sitecore.Mvc;
@using Sitecore.Data.Items;
@using Banner.Foundation.SitecoreExtensions;
@model UrgentCareLocation

@if (Model == null)
{
	return;
}
<div uatid="@FieldExtensions.UATID" class="mt-5 mb-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6">
				<div>
					@if (!MvcHtmlString.IsNullOrEmpty(Model.OfficeHours))
					{
						<h3 class="">@Model.ContextItem.Fields[Template.UrgentCareLocationDetail.LocationInformation.Fields.OfficeHours].Name</h3><p></p>
						@Html.Raw(Model.OfficeHours)
						<p></p>
					}

					@if (!MvcHtmlString.IsNullOrEmpty(Model.ServicesOffered))
					{
						<h3 class="">@Model.ContextItem.Fields[Template.UrgentCareLocationDetail.AdditionalLocationData.Fields.ServicesOffered].Name</h3><p></p>
						@Html.Raw(Model.ServicesOffered)
					}

				</div>
			</div>
			<div class="col-12 col-md-6">

				@if (!MvcHtmlString.IsNullOrEmpty(Model.About))
				{
					<h3 class="">@Model.ContextItem.Fields[Template.UrgentCareLocationDetail.AdditionalLocationData.Fields.About].Name</h3><p></p>
					@Html.Raw(Model.About)
					<p></p>
				}

				@if (!MvcHtmlString.IsNullOrEmpty(Model.InsurancesAccepted))
				{
					<h3 class="">@Model.ContextItem.Fields[Template.UrgentCareLocationDetail.AdditionalLocationData.Fields.InsurancesAccepted].Name</h3><p></p>
					@Html.Raw(Model.InsurancesAccepted)
					<p></p>
				}
				@if (!MvcHtmlString.IsNullOrEmpty(Model.PaymentsAccepted))
				{
					<h3 class="">@Model.ContextItem.Fields[Template.UrgentCareLocationDetail.AdditionalLocationData.Fields.PaymentsAccepted].Name</h3><p></p>
					@Html.Raw(Model.PaymentsAccepted)
				}
			</div>
		</div>
	</div>
</div>